---
layout: archive
permalink: /News/
title: "News"
author_profile: false
classes: wide
---

{% include base_path %}

<div class="news-list">
{% for post in site.posts %}
  <div class="news-card">
    <div class="news-title">{{ post.title }}</div>
    <div class="news-date">{{ post.date | date: "%B %d, %Y" }}</div>
    {% if post.image %}
      <div class="news-thumb">
        <img src="{{ post.image }}" alt="{{ post.title }}" loading="lazy">
      </div>
    {% endif %}
    {% if post.excerpt %}
      <div class="news-excerpt">{{ post.excerpt | strip_html | truncate: 300 }}</div>
    {% endif %}
  </div>
{% endfor %}
</div>
